/* Reset default values */
* {
    padding: 0;
    margin: 0;
    color: black;
    list-style-type: none;
    text-decoration: none;
}

/* Styling the header */
.main-header {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 16px;
    grid-column: 2 / 3;
    grid-row-start: 1;
    padding: 15px 0;
}

/* Styling navigation menu */
nav {
    grid-column: 1 / 11;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: repeat(10, 10%);
}

.level-menu {
    grid-column: 6 / 11;
    text-align: center;
}

button {
    color: white;
    background-color: black;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid white;
    box-shadow: 2px 2px 5px black;
}

.dark-background {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.hidden-menu {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid white;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.9);
}

.hidden-menu>p {
    color: white;
    font-size: 18px;
    margin: 15px 0 30px;
}

.option-item {
    margin: 10px;
    color: white;
}

button[data-status=active] {
    background-color: white;
    border: 2px solid black;
    color: black;
}

.close-menu {
    margin: 30px;
    padding: 10px 15px;
    border-radius: 50px;
}

/* Styling main content */
.main-content {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-column: 1 / 11;
    align-items: center;
}

details {
    grid-column: 2 / 10;
    text-align: center;
    background-color: black;
}

summary,
details li {
    color: white;
    padding: 5px;
}

/* Styling the game area */
.riddle-area {
    grid-column: 1 / 11;
    text-align: center;
    padding: 15px;
}

.riddle-area>p {
    display: inline-block;
    font-size: 20px;
    letter-spacing: 0.5rem;
}

.score-area {
    grid-column: 1 / 11;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    height: 30px;
    text-align: center;
    margin-bottom: 5px;
}

.hangman-area {
    grid-column: 2 / 10;
    position: relative;
    margin: 0 10% 20px;
    border: 1 px solid black;
    box-shadow: 2px 2px 10px black;
    border-radius: 15px;
    overflow: hidden;
}

.hangman-area>img {
    width: 100%;
    height: auto;
    transform: scale(1.05);
}

.remaining-tries {
    position: absolute;
    font-size: 0.75rem;
    width: 70%;
    height: 10%;
    bottom: 7%;
    text-align: center;
    padding: 10px;
}

#no-more-steps {
    display: none;
}

/* Styling the typing area */
.typing-area {
    grid-column: 2 / 10;
    display: grid;
    margin-bottom: 50px;
    width: 100%;
    grid-template-columns: repeat(9, 10%);
    grid-template-rows: repeat(3, 30px);
    grid-gap: 5px 1%;
    text-align: center;
}

.typing-buttons {
    border: none;
    box-shadow: 2px 2px 5px black;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.column-one {
    grid-template-columns: 1 / 2;
}

.column-two {
    grid-template-columns: 2 / 3;
}

.column-three {
    grid-template-columns: 3 / 4;
}

.column-four {
    grid-template-columns: 4 / 5;
}

.column-five {
    grid-template-columns: 5 / 6;
}

.column-six {
    grid-template-columns: 6 / 7;
}

.column-seven {
    grid-template-columns: 7 / 8;
}

.column-height {
    grid-template-columns: 8 / 9;
}

.column-nine {
    grid-template-columns: 9 / 10;
}

.line-one {
    grid-template-rows: 1 / 2;
}

.line-two {
    grid-template-rows: 2 / 3;
}

.line-three {
    grid-template-rows: 3 / 4;
}